td, th{
  border:solid 1px rgb(50, 50, 50, 0.3); padding:5px;
}

th {
  background-color:rgb(233, 241, 187);
  text-align: center;
}

td {
  text-align: center;

}
  
.celula {
    width: 120px;
    color: rgb(50, 50, 50, 0.94);
}